@page "/"

@inject NavigationManager nav

<div class="row">
    <div style="color:#ff6500;font-weight:600;margin:auto;margin-top:10rem;letter-spacing:1.5px">
        <h1 style="text-align:center;">Phoebus Web <br /><small>Form Design</small></h1>
        <br />
        <label style="font-size:15px;color:darkgray">Run Command</label>
        <div style="display:flex">
            <input type="text" class="form-control" @bind="url"/>
            <span @onclick="(()=>RunCommand())"><i class="fa fa-play fa-2xl" style="color: #ff6500; font-size:35px;margin-left:1rem;cursor:pointer"></i></span>
        </div>
    </div>
</div>