@page "/designform"
@inject IJSRuntime JSRuntime
@inject NavigationManager nav

<div style="margin-top:2rem">
    <div class="row" style="margin-bottom:1rem; margin-left:0px!important;margin-right:0px!important">
        <button class="btn btn-btn-warning"><a href="@(formId.Contains("infolist")?"infolist":"")" style="text-decoration:none;color:white">back</a></button>
    </div>
    <div id="builder"></div>
     <div id="formio"></div>
    <div>
        <button class="btn btn-primary" style="float:right;" @onclick="(()=>SaveForm())">Save From</button>
    </div>
</div>

