@inject NavigationManager nav

<!-- Button trigger modal -->
<button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter" style="position: absolute;
    top: 8px;
    left: 16rem;
    z-index: 2;">
    <span class="oi oi-play-circle" aria-hidden="true" style="color:#ff6500"></span> Run Command
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Phoebus Run Command</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="row">*@
                <div style="color:#ff6500;font-weight:600;margin:auto;letter-spacing:1.5px">
                    <label style="font-size:15px;color:darkgray">Run Command</label>
                    <div style="display:flex">
                        <input type="text" class="form-control" @bind="url" />
                        <span @onclick="(()=>RunCommand())" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-play fa-2xl" style="color: #ff6500; font-size:35px;margin-left:1rem;cursor:pointer"></i></span>
                    </div>
                </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>