.formio-component-label-hidden {
    position: relative;
}

.formio-form {
    position: relative;
    min-height: 80px;
}
.drag-container.formio-builder-form, .drag-container.formio-builder-form:hover, .panel-body > .drag-container.formio-builder-components, .panel-body > .drag-container.formio-builder-components:hover, .tab-pane > .drag-container.formio-builder-components, .tab-pane > .drag-container.formio-builder-components:hover {
    padding: 0 0 1rem 0;
    border: none;
}
.drag-container {
    padding: 10px;
    border: dotted 2px #e8e8e8;
}